* {
    font-family: "Marck Script", cursive;
    font-size: 33px;
    letter-spacing: 1px;
    line-height: 33px;
    color: rgb(0, 0, 0)
}

body {
    background-color: blue;
    width: 100vw;
    height: 100vh;

}

body {

    margin: 0 auto;
    width: 900px;
    height: 400px;
    background: blue url("./image/ok.jpg") center center/contain no-repeat;
    transition: 5s;
    background-attachment: fixed;

}

/* .b1:hover {
    background: linear-gradient(rgba(1, 1, 1, 0.1) 0%, transparent), url("./image/ok.jpg") center center/contain no-repeat;
    transition: 2s;
} */

ul {
    list-style: none;

}

ul>li {
    margin-bottom: 20px;
    background: url("./image/ok.jpg") no-repeat;
    background-position: left 2px;
    background-size: 20px;
    padding-left: 35px;
    background-attachment: fixed;
}

ul>li::before {
    content: "-";
    margin-left: 5px;
}